* {
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
body{
    background-color: #f6f8f9;
}
img{


    vertical-align: middle;

}
header{
    width: 100%;
    background-color:#ffffff;
    font-size: 50px;
    font-weight: bold;
    
    
}
main{
    width: 70%;
    margin: auto;
    margin-top: 30px;
    font-size: 20px;
}
section{
    margin-top: 20px;
    

}
main .white-container{
    
    height: 80px;
    background-color: white;
    
}
.button{
    display: inline-block;
    margin-top: 25px;
    padding: 5px;
    font-size: 15px;
    border-radius: 5rem;
    text-align: center;
    height: 30px;
    border: 1px solid;
}
.blue{
    color: white;
    width: 90px;
    margin-left: 40px;
    background-color: #47adf1;

}

.white{
    color:#d4d9dc;
    width: 120px;
    margin-left: 3px;
    background-color: white;
    border-color: #d4d9dc;
}
.container{
    
    background-color: white;
    padding-left: 25px;
    
    
}

.icon{
    border-color: #7bcab7;
    border-radius: 50%;
    border: 1px solid;
    display: inline-block;
    color: #7bcab7;
    font-size: 14px;


}
section .ending {
    width: 100px;
    height: 20px;
    display: inline-block;
    background-color:#64c0a9;
    border-radius: 8rem;
    color: white;
    font-size: 12px;
    margin-left: 5px;
    text-align: center;
    line-height: 20px;
}
.red
{
    color: #ee8581;
}


.title{
    font-weight: 900;
}
.icon-container{
    margin-top: 7px;
}
#blue {
    background-color: #45abea;
}
#purple{
    background-color: #9c72e4;
}
#orange{
    background-color: #f29e33;
}